<h2>Billing</h2>

<!-- POS form -->
<form method="POST">
    <select name="product">
        {% for p in products %}
        <option value="{{ p.id }}">
            {{ p.name }} (Stock: {{ p.quantity }})
        </option>
        {% endfor %}
    </select><br><br>

    <input name="quantity" type="number" placeholder="Quantity"><br><br>
    <button>Sell</button>
</form>

<!-- Show messages -->
{% with messages = get_flashed_messages() %}
{% for msg in messages %}
<p>{{ msg }}</p>
{% endfor %}
{% endwith %}

<a href="/dashboard">Back</a>
