<!DOCTYPE html>
<html>
<head>
    <title>Sales Report</title>

    <!-- Load CSS from static folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
<div class="card">

    <h2>Sales Report</h2>

    {% if sales %}
    <table width="100%" cellpadding="10">
        <tr>
            <th>Date</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
        </tr>

        {% set grand_total = 0 %}
        {% for s in sales %}
        <tr>
            <td>{{ s.date.strftime('%d-%m-%Y %H:%M') }}</td>
            <td>{{ s.product_name }}</td>
            <td>{{ s.quantity }}</td>
            <td>Rs {{ s.price }}</td>
            <td>Rs {{ s.total }}</td>

        </tr>
        {% set grand_total = grand_total + s.total %}
        {% endfor %}

        <tr>
            <th colspan="4" style="text-align:right">Grand Total</th>
            <th>Rs {{ grand_total }}</th>
        </tr>
    </table>

    {% else %}
        <p>No sales recorded yet.</p>
    {% endif %}

    <br>
    <a href="/dashboard">
        <button>⬅ Back to Dashboard</button>
    </a>

</div>
</div>

</body>
</html>
